@import "styles/variables";

.container {
  width: 800px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  min-height: 400px;

  .musicBar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 13px;
    height: 13px;

    @keyframes bounce {
      10% {
        transform: scaleY(0.3); /* start by scaling to 30% */
      }

      30% {
        transform: scaleY(1); /* scale up to 100% */
      }

      60% {
        transform: scaleY(0.5); /* scale down to 50% */
      }

      80% {
        transform: scaleY(0.75); /* scale up to 75% */
      }

      100% {
        transform: scaleY(0.6); /* scale down to 60% */
      }
    }

    span {
      width: 3px;
      height: 100%;
      background-color: $white;
      border-radius: 3px;
      transform-origin: bottom;
      animation: bounce 2.2s ease infinite alternate;
      content: "";

      &:nth-of-type(2) {
        animation-delay: -2.2s; /* Start at the end of animation */
      }

      &:nth-of-type(3) {
        animation-delay: -3.7s; /* Start mid-way of return of animation */
      }
    }
  }

  .roomInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .label {
      font-size: 16px;
      line-height: 18px;
      color: $gray;
    }

    .room {
      font-size: 16px;
      line-height: 25px;

      span {
        font: inherit;
        font-weight: bold;
        margin: 0 5px;
      }
    }
  }

  .tabs {
    display: flex;
    justify-content: center;

    .tab {
      width: min(30%, 300px);
      padding: 8px 16px;
      cursor: pointer;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      background-color: $white-1;
      text-transform: capitalize;

      &:hover {
        background-color: $pinkish-white;
      }
    }

    .active {
      background-color: $primary;
      color: $white;

      &:hover {
        background-color: $primary;
      }
    }
  }

  .playlist {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .song {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 6px 16px;
      box-shadow: $shadow-1;
      border-radius: 5px;
      transition: 200ms;
      background-color: $white;

      .left {
        display: flex;
        gap: 15px;
        align-items: center;

        .drag,
        .play {
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            height: 22px;
            width: 22px;
          }
        }

        .play {
          cursor: pointer;

          svg {
            height: 16px;
            width: 16px;
          }
        }

        .details {
          display: flex;
          flex-direction: column;
          gap: 2px;

          .title {
            font-size: 16px;
            font-weight: 600;
            // color: $primary;
            display: flex;
            gap: 5px;
            align-items: center;
            text-transform: capitalize;

            span {
              display: flex;
              align-items: center;
            }

            svg {
              height: 16px;
              width: 16px;
              //   color: $primary;
            }
          }

          .desc {
            color: $gray;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }

    .playing {
      background-color: $primary;

      .left {
        .drag,
        .play {
          svg {
            fill: $white;
          }
        }

        .details {
          .title {
            color: $white;
            font-weight: bold;
          }
          .desc {
            color: $white-2;
          }
        }
      }

      .deleteIcon {
        &:hover {
          svg {
            color: $black;
          }
        }

        svg {
          color: $white;
        }
      }
    }
  }

  .activityDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 600px;
    overflow-y: auto;

    .activity {
      padding: 8px 15px;
      display: flex;
      flex-direction: column;
      gap: 3px;
      border-bottom: 1px solid $white-2;

      &:nth-child(even) {
        background-color: $pinkish-white;
      }

      &:last-child {
        border-bottom: none;
      }

      .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .time {
          font-size: 16px;
          color: $gray-2;
          font-weight: 500;
        }
      }

      .title {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
      }

      .desc {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
      }
    }
  }

  .users {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 600px;
    overflow-y: auto;

    .user {
      padding: 8px 15px;
      border-bottom: 1px solid $white-2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      &:nth-child(even) {
        background-color: $pinkish-white;
      }

      &:last-child {
        border-bottom: none;
      }

      .left {
        display: flex;
        gap: 10px;
        align-items: center;

        .image {
          display: flex;
          align-items: center;

          img {
            height: 30px;
            word-wrap: 30px;
            border-radius: 50%;
          }
        }

        .name {
          font-size: 16px;
          line-height: 22px;
          font-weight: 600;
        }
      }

      .role {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    padding: 20px;
    gap: 20px;

    .roomInfo {
      .label {
        font-size: 14px;
        line-height: 16px;
        color: $gray;
      }

      .room {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .tabs {
      .tab {
        font-size: 16px;
      }
    }

    .playlist {
      gap: 15px;

      .song {
        gap: 12px;

        .left {
          gap: 10px;

          .drag,
          .play {
            svg {
              height: 18px;
              width: 18px;
            }
          }

          .play {
            svg {
              height: 14px;
              width: 14px;
            }
          }

          .details {
            .title {
              font-size: 14px;
            }

            .desc {
              font-size: 14px;
            }
          }
        }
      }
    }

    .activityDiv {
      padding: 5px;

      .activity {
        .top {
          .time {
            font-size: 14px;
          }
        }

        .title {
          font-size: 14px;
          line-height: 20px;
        }

        .desc {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    .users {
      padding: 6px;

      .user {
        gap: 15px;

        .left {
          gap: 8px;

          .image {
            img {
              height: 24px;
              word-wrap: 24px;
            }
          }

          .name {
            font-size: 14px;
            line-height: 18px;
          }
        }

        .role {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}
